.card {
    min-height: 800px;
    overflow: hidden;
    position: relative;
    border-color: rgba(255,255,255,0.3);
    img {
        width: 100%;
    }

    p {
        padding-left: 16px;
        padding-right: 16px;
        color: white;
        font-size: 20px;
    }
    button {
        width: 50%;
        position: absolute;
        bottom: 0;
        height: 100px;
        background-color: rgba(155,155,155,0.2);
        border: unset;
        border-top: 1px solid rgba(255,255,255,0.5);
        cursor: pointer;
        color: white;

        &:first-child {
            left: 0;
            border-right: 1px solid rgba(255,255,255,0.1);
        }

        &:hover {
            background-color: rgba(255,255,255,0.05);
        }

        &:last-child {
            right: 0;
            border-left: 1px solid rgba(255,255,255,0.1);
        }

        mat-icon {
            padding-top: 4px;
            font-size: 18px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.fav-icon {
    color: red;
}
